FLASK_ENV=production
DATABASE_URL=postgres://c60d7477c87a1c2501c2b64d64c50bed6bacd262cac12275f99a60abb5438048:sk_GlsHNIDvxbgogQ93ZFUEi@db.prisma.io:5432/postgres?sslmode=require
BOT_TOKEN=your_bot_token_here
SECRET_KEY=your_secret_key_here
PORT=5000
API_URL=http://localhost:5000
